
/*ClassesNames from react*/
.UserRegisterForm{
  font-family: 'Lato', sans-serif;
}

.user-register-back {
  background-color: #BED2BD;
  height: 950px;

}

.user-header {
  font-family: 'Oswald', sans-serif;
  background-color: #738671;
  height: 10px;
  padding: 30px;
  text-align: left;
  font-size: 20px;
}


.label-text-font{
  font-size: 20px;
}


/*ids*/
#label-format{
  margin-left: -29%;
}
#label-format-camp{
  margin-top: 10px;
  margin-left: -29%;
}

#label-format-age{
  margin-top: 10px;
  margin-left: -20%;
}

#label-format-camp-instrument{
  margin-top: 10px;
  margin-left: -25%;
}
#label-format-state-instrument{
  margin-top: 10px;
  margin-left: -28%;
}
#label-format-camp-city{
  margin-top: 10px;
  margin-left: -28%;
}

#label-format-camp-username{
  margin-top: 10px;
  margin-left: -26%;
}

#label-format-repite-password{
  margin-top: 10px;
  margin-left: -24%;
}

#input-text-format{
}

#registerForm{
  background-color: #BED2BD;
}
#button-register{
  margin-top: 30px;
  margin-left: 0px;
  background-color: #4A505F;

}
#label-register-title{
  font-size: 50px;
  margin-top: 40px;
}

#register-title{

}

#pan-pan-header{
  font-size: 45px;
}
