
#text-input{

  margin-left: 40%;

}
#user-login-form{

  text-align: center;

}

#label-format{
  margin-top: 0px;
  margin-right: 195px;
}

#label-format-camp{
  margin-top: 10px;
  margin-right: 1%;
}

#user-login-form{

  margin-top: 25px;

}

#title-login{
  margin-top: 5%;
  margin-left: 45%;
}

#title-login-label{
  font-size: 35px;
}

#button-register{
  margin-left: -1%
}
