
#user-login-form{
  text-align: center;

}

#label-format{
  margin-top: 0px;
  margin-right: 195px;
}

#label-format-camp{
  margin-top: 10px;
  margin-right: 195px;
}

#user-login-form{
  margin-top: 25px;
}

#title-login{
  margin-top: 40px;
  margin-left: 605px;
}

#title-login-label{
  font-size: 35px;
}
