.loading .modal {
    display:block;
    text-align: center;
    vertical-align: middle;
}

.loading .modal-content{
    margin-top: 30%;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    font-size: 100px;
    border-color: transparent;
    box-shadow: 0px 0px 0px 0px;
}
