.head img {
  float: left;
  width: 40px;
  height: 50px;
}

.active{
  float: right;
  position: right;
}

.head a {
  float:inherit;
  position: relative;
  top: 18px;
  left: 10px;
}

.header-container .navbar-text {
    font-size: 1.5em;
    font-weight: bold;
}

.active .btn-link, a{
    color: #9d9d9d;
    text-decoration: none;
    cursor:pointer;
}

.active a:hover{
    color: white;
}
