.band-creation-form{
    font-family: 'Lato', sans-serif;
    background-color: #BED2BD;
}

#label-format-band-name,
#label-format-band-style,{
    margin-right: 11%;
    padding-top: 2%;
}

#submit-button,
#select-image-button{
    margin-top: 30px;
    margin-left: 0px;
    background-color: #4A505F;
}
